@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  background-image:url('./assets/bg.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}
#root{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  flex-direction:column;
}